.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-div{
  width : 70%;
  display: flex;
  flex-direction:  row;
  justify-content : space-around;
  border : 1px solid grey;
  padding  : 2%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhoHjYyZ1DxTgomyLM9SQDz5j-gYaYjQrEmA&usqp=CAU");
  border-radius : 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 5px white, 5px white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
